Source: clam-voice2midi
Section: x11
Priority: optional
Maintainer: parumi <parumi@iua.upf.es>
Homepage: http://clam.iua.upf.edu
Build-Depends: debhelper (>= 5.0.0), scons, libclam-dev, libqt3-headers, libqt3-mt-dev

Standards-Version: 3.6.1
Package: clam-voice2midi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CLAM Voice2MIDI
 Is a CLAM simple application that transform audio to midi. It uses the QT graphical toolkit.
