[Desktop Entry]
Name=CLAM Network Editor
GenericName=CLAM patching tool
Comment=An audio tool to build processing networks by connecting functional boxes
Icon=/usr/share/pixmaps/clam-networkeditor.xpm
Type=Application
Categories=Application;AudioVideo;Audio;Qt;
Exec=NetworkEditor
Terminal=false
MimeType=application/vnd.clam.network;

[Desktop Action Edit]
Exec=NetworkEditor %f
Name=Edit (NetworkEditor)

