Source: clam-plugins
Section: sound
Priority: optional
Maintainer: CLAM Team <developers@clam-project.org>
Homepage: http://clam-project.org
Build-Depends: debhelper (>= 5.0.0), scons, libclam-dev, liblo0-dev
Standards-Version: 3.8.0

Package: libclam-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Recommends: clam-networkeditor
Homepage: http://clam-project.org
Description: Extension plugins for the CLAM framework
 This package provides several plugins for the CLAM audio library, including:
  * OSC support
  * Real-time 3D acoustics scene simulation (ambisonics, raytracing, HRTF's)
  * Speech synthesis and analysis
  * Simple SMS based synthesizer
  * Guitar effects
  * Sample by sample convolution effects
  * Lock-free wave file reader


