Source: clam-annotator
Section: x11
Priority: optional
Maintainer: parumi <parumi@iua.upf.es>
Build-Depends: debhelper (>= 4.0.0), scons (>= 0.96.1), g++, make (>= 3.80), libclamcore-dev (>= 0.90.0), libclamprocessing-dev (>= 0.90.0), libclamaudioio-dev (>= 0.90.0), libclamvmqt-dev (>= 0.90.0), libqt3-headers (>= 3:3.3.3), libqt3-mt-dev (>= 3:3.3.3)

Standards-Version: 3.6.1
Package: clam-annotator
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libclamcore (>= 0.90.0), libclamprocessing (>= 0.90.0), libclamaudioio (>= 0.90.0), libclamvmqt (>= 0.90.0)
Description: CLAM audio annotation tool
 The clam annotator is a graphic application that can be used to manually edit any 
 previously computed audio descriptors. 
 The application offers a convenient GUI that allows to edit low-level frame descriptors, 
 global descriptors of any kind and segmentation marks.
 It is designed in such a way that the interface adapts itself to a user-defined schema.
