Source: clam
Section: libs
Priority: optional
Maintainer: CLAM Team <clam@iua.upf.edu>
Uploaders: Paul Brossier <piem@debian.org>
Build-Depends: debhelper (>= 5.0.0), scons, ladspa-sdk, libxerces28-dev | libxerces-c2-dev, portaudio19-dev, libfftw3-dev | fftw3-dev, libjack-dev, libmad0-dev, libogg-dev, libsndfile1-dev, libvorbis-dev, libid3-3.8.3-dev, libasound2-dev, liblo0-dev, doxygen
Standards-Version: 3.8.0
Homepage: http://clam.iua.upf.edu/
Vcs-Browser: https://iua-share.upf.edu/svn/clam/trunk/CLAM
Vcs-Svn: https://iua-share.upf.edu/svn/clam/trunk/CLAM

Package: libclam13
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libclam-audioio-dev, libclam-audioio0, libclam-core-dev, libclam-core0, libclam-processing-dev, libclam-processing0, libclam-vmfl-dev, libclam-vmfl0, libclam-vmqt-dev, libclam-vmqt0
Suggests: clam-annotator, clam-networkeditor, clam-smstools
Description: runtime package for the CLAM framework
 CLAM is a framework to develop audio and music applications in C++.
 It provides tools to perform advanced analysis, transformations and synthesis,
 visualization for audio and music related objects, and other tools that are
 useful to abstract target platform for most tasks in an audio applications
 such as audio devices, file formats, threading...
 . 
 This package contains the files needed to develop with the following libraries:
 clam-core, clam-processing, clam-audioio, clam-vmfl and clam-vmqt libraries.

Package: libclam-dev
Section: libdevel
Architecture: any
Depends: libclam13 (= ${binary:Version}), ladspa-sdk (>= 1.1), pkg-config (>= 0.15), portaudio19-dev, libfftw3-dev | fftw3-dev, libmad0-dev (>= 0.15.1b), libogg-dev (>= 1.1.2), libsndfile1-dev (>= 1.0.2-1), libvorbis-dev (>= 1.0.1), libid3-3.8.3-dev, libasound2-dev (>= 1.0.8), liblo0-dev, libjack-dev, scons, python
Suggests: libclam-doc (= ${binary:Version})
Description: development package for the CLAM framework
 CLAM is a framework to develop audio and music applications in C++.
 It provides tools to perform advanced analysis, transformations and synthesis,
 visualization for audio and music related objects, and other tools that are
 useful to abstract target platform for most tasks in an audio applications
 such as audio devices, file formats, threading...
 . 
 This meta-package depends on development packages.

Package: libclam-doc
Section: doc
Architecture: all
Suggests: 
Description: CLAM framework documentation package
 CLAM is a framework to develop audio and music applications in C++.
 It provides tools to perform advanced analysis, transformations and synthesis,
 visualization for audio and music related objects, and other tools that are
 useful to abstract target platform for most tasks in an audio applications
 such as audio devices, file formats, threading...
 .
 This package contains the framework documentation and some example programs.


