import os
acustica_path=os.environ['HOME']+'/acustica/'
clam_path = os.environ['HOME']+'/clam/'

renderParams = { # parameters for the network template
	'path_file' : acustica_path+'realitzacions/Simple_01.coreo',
	'3Dmodel_file' : acustica_path+'visualitzador_escena_c++/entorns/salo_simplificat_sense_sostres.dat',
	'controls_per_second' : 24,
	'grid_divisions': 500,
	}
generalParams = {
	'video' : acustica_path+'realitzacions/Simple_01.flv', # OPTIONAL: if existent puts the binaural output to this video.
	}

sources = [
#	acustica_path+'wavs/pluck_1s.wav', 
#	acustica_path+'wavs/metronom.wav',
#	acustica_path+'wavs/inlanguage_100s.wav',
	acustica_path+'wavs/roland_drums_100s_48khz.wav'
]


enable_binaural = True
enable_surround = True

