body
{
	font-family:Sans-Serif;
}
h1
{
	color: #888888;
}
h2
{
	color: #555555;
}

.to-do 
{
	font-weight: normal;
	text-decoration: normal;
	color: green;
}
.done 
{
	color: Navy;
	text-decoration: line-through;
	font-weight: normal;
}
.current 
{
	font-weight: bold;
	color:Purple
}
.hold
{
	font-weight: bold;
	text-decoration: italic;
	color: Maroon;
}
.hidden 
{
	color: white;
	visibility: hidden;
	
}