Source: clam-turnaround
Section: sound
Priority: optional
Maintainer: CLAM Team <clam@iua.upf.edu>
Homepage: http://clam.iua.upf.edu
Build-Depends: debhelper (>= 5.0.0), scons, libclam-dev, qt4-dev-tools, libqt4-dev, libqt4-dev (<4.4) | libqt4-opengl-dev, docbook-to-man, imagemagick
Standards-Version: 3.8.0

Package: clam-turnaround
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CLAM Turnaround, chord detection tool
 CLAM Turnaround is a chord detection tool that can be used to
 browse the chords of your favourite mp3/ogg/wav music.
 You can freely move arround the song, listening and 
 getting insight of its tonal features by using several
 available views: Chord segments, Chord ranking, Tonnetz,
 Keyspace, Chromatic peaks, PCPgram...
 .
 This is an example application of the CLAM framework.


