Source: libclam
Priority: optional
Maintainer: mramirez <clam@iua.upf.es>
Build-Depends: debhelper (>= 4.0.0), scons (>= 0.96.1), g++, make (>= 3.80), autoconf (>= 2.59), ladspa-sdk (>= 1.1), libxerces26-dev, sfftw-dev, libmad0-dev (>= 0.15.1b), libogg-dev (>= 1.1.2), libsndfile1-dev (>= 1.0.2-1), libvorbis-dev (>= 1.0.1), libid3-3.8.3-dev, libasound2-dev (>= 1.0.8), libfltk1.1-dev (>= 1.1.6), libjpeg62-dev, libpng12-dev, libxext-dev (>> 4.1.0), libxft-dev (>> 2.1.1),  libqt3-headers (>= 3:3.3.3), libqt3-mt-dev (>= 3:3.3.3), doxygen (>= 1.4.0)
Standards-Version: 3.6.1

Package: libclam-doc
Section: doc
Architecture: all
Depends: libclamcore-dev (= ${Source-Version}), libclamprocessing-dev (= ${Source-Version}), libclamaudioio-dev (= ${Source-Version}), libclamvmqt-dev (= ${Source-Version}), libclamvmfl-dev (= ${Source-Version})
Description: clam framework documentation package
 CLAM framework documentation and example programs

Package: libclamcore-dev
Section: libdevel
Architecture: any
Depends: libclamcore (= ${Source-Version}), ladspa-sdk (>= 1.1), pkg-config (>= 0.15), libxerces26-dev
Description: clam framework core components (development files)
  This package contains the set of fundamental classes
  in the CLAM framework. This includes:
   * XML-based object persistence infrastructure
   * OSC support
   * Network, Processing and ProcessingData base classes
   * Component and DynamicType
   * Threading support
   * Framework 'standard' data structures such as the
     Array class

Package: libclamprocessing-dev
Section: libdevel
Architecture: any
Depends: libclamprocessing(= ${Source-Version}), libclamcore-dev (= ${Source-Version}), pkg-config (>= 0.15), sfftw-dev
Description: clam framework processing algorithms repository
 This package offers a substantial number of audio and music
 digital signal processing algorithms encapsulated as CLAM
 Processing objects.

Package: libclamaudioio-dev
Section: libdevel
Architecture: any
Depends: libclamaudioio (= ${Source-Version}), libclamcore-dev (= ${Source-Version}), libclamprocessing-dev (= ${Source-Version}), pkg-config (>= 0.15), libmad0-dev (>= 0.15.1b), libogg-dev (>= 1.1.2), libsndfile1-dev (>= 1.0.2-1), libvorbis-dev (>= 1.0.1), libid3-3.8.3-dev, libasound2-dev (>= 1.0.8)
Description: clam framework audio and MIDI i/o components
 This package contains all the CLAM framework components 
 that allow to:
   * Read or write data from/into a sound card buffer
   * Read or write data from/into audio files (both
     PCM and compressed - Vorbis and Mpeg)
   * Read or write messages from MIDI devices
   * Read or write messages from MIDI files

Package: libclamvmfl-dev
Section: libdevel
Architecture: any
Depends: libclamvmfl (= ${Source-Version}), libclamcore-dev (= ${Source-Version}), libclamprocessing-dev (= ${Source-Version}), libclamaudioio-dev (= ${Source-Version}), pkg-config (>= 0.15), libfltk1.1-dev (>= 1.1.6), libjpeg62-dev, libpng12-dev, libxext-dev (>> 4.1.0), libxft-dev (>> 2.1.1), libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev
Description: clam framework data visualization components (FLTK)
 This package contains a set of CLAM components meant for 
 data visualization. These rely on the Fast Light Toolkit
 library.

Package: libclamvmqt-dev
Section: libdevel
Architecture: any
Depends: libclamvmqt (= ${Source-Version}), libclamcore-dev (= ${Source-Version}), libclamprocessing-dev (= ${Source-Version}), libclamaudioio-dev (= ${Source-Version}), pkg-config (>= 0.15), libqt3-headers (>= 3:3.3.3), libqt3-mt-dev (>= 3:3.3.3)
Description: clam framework data visualization components (Qt)
 This package contains CLAM framework data visualization components.
 These components rely on the Qt framework.


Package: libclam-dev
Section: libdevel
Architecture: any
Depends: libclamcore-dev, libclamprocessing-dev, libclamaudioio-dev, libclamvmfl-dev, libclamvmqt-dev
Description: development package for the CLAM framework
 The CLAM framework is a C++ framework meant for helping
 to build applications that analyze, synthesize or transform
 digital signals - either music or audio.

Package: libclamcore
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clam framework core components
  This package contains the set of fundamental classes
  in the CLAM framework. This includes:
   * XML-based object persistence infrastructure
   * OSC support
   * Network, Processing and ProcessingData base classes
   * Component and DynamicType
   * Threading support
   * Framework 'standard' data structures such as the
     Array class

Package: libclamprocessing
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clam framework processing algorithms repository
 This package offers a substantial number of audio and music
 digital signal processing algorithms encapsulated as CLAM
 Processing objects.

Package: libclamaudioio
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clam framework audio and MIDI i/o components
 This package contains all the CLAM framework components 
 that allow to:
   * Read or write data from/into a sound card buffer
   * Read or write data from/into audio files (both
     PCM and compressed - Vorbis and Mpeg)
   * Read or write messages from MIDI devices
   * Read or write messages from MIDI files

Package: libclamvmfl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clam framework data visualization components (FLTK)
 This package contains a set of CLAM components meant for 
 data visualization. These rely on the Fast Light Toolkit
 library.

Package: libclamvmqt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clam framework data visualization components (Qt)
 This package contains CLAM framework data visualization components.
 These components rely on the Qt framework.

Package: libclam
Section: libs
Architecture: any
Depends: libclamcore, libclamprocessing, libclamvmfl, libclamaudioio, libclamvmqt
Description: runtime package for the CLAM framework
 The CLAM framework is a C++ framework meant for helping
 to build applications that analyze, synthesize or transform
 digital signals - either music or audio.
