<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by x (x) -->
<SMSAnalysisSynthesisConfig>
	<Name/>
	<InputSoundFile>c:\1.wav</InputSoundFile>
	<OutputSoundFile>c:\1_out.wav</OutputSoundFile>
	<OutputXMLFile>c:\1_out.xml</OutputXMLFile>
	<InputXMLFile>c:\1.xml</InputXMLFile>
	<SamplingRate>44100</SamplingRate>
	<AnalysisWindowSize>513</AnalysisWindowSize>
	<AnalysisHopSize>-1</AnalysisHopSize>
	<AnalysisWindowType>Hamming</AnalysisWindowType>
	<ResAnalysisWindowSize>513</ResAnalysisWindowSize>
	<ResAnalysisWindowType>BlackmanHarris92</ResAnalysisWindowType>
	<AnalysisZeroPaddingFactor>0</AnalysisZeroPaddingFactor>
	<AnalysisPeakDetectMagThreshold>-60</AnalysisPeakDetectMagThreshold>
	<AnalysisMaxSines>50</AnalysisMaxSines>
	<AnalysisSinTrackingFreqDeviation>20</AnalysisSinTrackingFreqDeviation>
	<AnalysisReferenceFundFreq>1000</AnalysisReferenceFundFreq>
	<AnalysisLowestFundFreq>40</AnalysisLowestFundFreq>
	<AnalysisHighestFundFreq>6000</AnalysisHighestFundFreq>
	<AnalysisMaxFundFreqError>10</AnalysisMaxFundFreqError>
	<AnalysisMaxFundCandidates>50</AnalysisMaxFundCandidates>
	<AnalysisHarmonic>0</AnalysisHarmonic>
	<SynthesisFrameSize>256</SynthesisFrameSize>
	<SynthesisWindowType>Triangular</SynthesisWindowType>
	<SynthesisHopSize>-1</SynthesisHopSize>
	<SynthesisZeroPaddingFactor>0</SynthesisZeroPaddingFactor>
	<SynthesisPhaseManagementType>Continuation</SynthesisPhaseManagementType>
</SMSAnalysisSynthesisConfig>
