#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


OPTIONS= clam_prefix=/usr prefix=$(CURDIR)/debian/clam-networkeditor/usr qt_plugins_install_path=/lib/qt4/plugins/designer release=1 verbose=1 double=0

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch $@


build: build-stamp
build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the arch part of the package.
	#$(MAKE) 
	mkdir -p $(CURDIR)/debian/clam-networkeditor/usr
	scons $(OPTIONS)
	convert -resize 32x32 -colors 24 src/images/NetworkEditor-icon.png $(CURDIR)/clam-networkeditor.xpm
	convert -resize 32x32 -colors 24 src/images/Prototyper-icon.png $(CURDIR)/clam-prototyper.xpm
	docbook-to-man debian/Prototyper.sgml > Prototyper.1
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	#scons -c
	find $(CURDIR) -name .*sconf_temp* | xargs rm -rf
	find $(CURDIR) -type f -name *.pyc | xargs rm -rf
	find $(CURDIR) -type f -name *.o | xargs rm -rf
	find $(CURDIR) -type f -name *.os | xargs rm -rf
	find $(CURDIR) -type f -name *.a | xargs rm -rf
	find $(CURDIR) -type f -name .*.swp | xargs rm -rf
	find $(CURDIR) -type f -name .sconsign | xargs rm -rf
	find $(CURDIR) -type f -name *.db | xargs rm -rf
	rm -f $(CURDIR)/options.cache
	rm -f $(CURDIR)/Prototyper.1
	#rm -f $(CURDIR)/.sconsign.dblite

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/clam-networkeditor.
	mkdir -p $(CURDIR)/debian/clam-networkeditor/usr
	scons install $(OPTIONS)
	cp $(CURDIR)/clam-networkeditor.xpm ${CURDIR}/debian/clam-networkeditor/usr/share/pixmaps
	cp $(CURDIR)/clam-prototyper.xpm ${CURDIR}/debian/clam-networkeditor/usr/share/pixmaps
	/usr/share/clam/sconstools/changeExampleDataPath.py debian/clam-networkeditor/usr/share/networkeditor /usr/share/networkeditor
	mv $(CURDIR)/debian/clam-networkeditor/usr/share/networkeditor/example-data ${CURDIR}/debian/clam-networkeditor-examples/usr/share/networkeditor

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
