Source: clam-annotator
Section: x11
Priority: optional
Maintainer: parumi <parumi@iua.upf.es>
Build-Depends: debhelper (>= 4.0.0), scons (>= 0.96.1), g++, make (>= 3.80), libclamcore-dev (>= 0.90.0), libclamprocessing-dev (>= 0.90.0), libclamaudioio-dev (>= 0.90.0), libclamvmqt-dev (>= 0.90.0), libqt3-headers (>= 3:3.3.3), libqt3-mt-dev (>= 3:3.3.3)

Standards-Version: 3.6.1
Package: clam-annotator
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libclamcore (>= 0.90.0), libclamprocessing (>= 0.90.0), libclamaudioio (>= 0.90.0), libclamvmqt (>= 0.90.0)
Description: CLAM audio annotation tool
 The CLAM Annotator is a tool to visualize, check and modify music
 information extracted from audio: low level features, note
 segmentation, chords, structure... The tool is intended to be useful for
 the music information retrieval research whenever you need to:
  * Supervise and correct the results of automated audio feature
  extraction algorithms.
  * Generate manually edited annotations of audio as training examples or
  ground truth for those algorithms.
 
 The application adapts to user defined description schemes, auralizes
 annotations and provides import and export support for wavesurfer formats.
 It also has support for collaborative and distributed annotation campaigns.
