[Desktop Entry]
Encoding=UTF-8
Name=CLAM Turnaround
GenericName=Chord detector
Comment=MP3/OGG/Wav songs chord analyser
Icon=/usr/share/pixmaps/clam-turnaround.xpm
Type=Application
Categories=Application;AudioVideo;Audio;Music;Qt
Exec=Turnaround
Terminal=false
MimeType=application/ogg;audio/basic;audio/mpeg;audio/x-aiff;audio/x-mp3;audio/x-wav;

[Desktop Action Edit]
Exec=Turnaround %f
Name=Analize chords (Turnaround)



